/* App.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.threejs-app {
  width: 800px; /* 80% of the viewport width */
  height: 800px; /* 80% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-wheel {
  flex: 1;
}