<!DOCTYPE html>
<html data-theme="nord">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="{% static "css/output.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/App.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://res.cloudinary.com/de3oxkjdt/image/upload/v1710511044/logo_c09ffo.png"
    />
    <title>MockupsEasy</title>
  </head>
  <body>
    <div id="main">
      <div id="app"></div>
    </div>

    <script src="https://res.cloudinary.com/de3oxkjdt/raw/upload/v1711366671/static/iy2fkz5fjt5f3opubmga.js"></script>
    <script src="https://res.cloudinary.com/de3oxkjdt/raw/upload/v1711366900/static/eb4oyjdvb0wqzq5she6f.js"></script>
    <script src="https://res.cloudinary.com/de3oxkjdt/raw/upload/v1711367005/static/xors7424gen45wwyeoyi.js"></script>
  </body>
</html>
